body {
  background-color: black;
}

/* Header */
.header-container {
  background-color: #475e6d;
  display: flex;
  height: 125px;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

img {
  height: 125px;
  margin-right: 15px;
  width: 250px;
}

.navbar {
  border-radius: 5px;
  height: 60px;
  padding-right: 75px;
  margin-top: 27px;
}

a:hover {
  background-color: rgb(209, 208, 208);
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
}

/* Body */
.body-container {
  background-color: white;
  border-radius: 25px;
  height: 625px;
  margin: auto;
  width: 95%;
}
.title {
  color: rgb(255, 102, 0);
  font-family: Arial, sans-serif;
  letter-spacing: 5px;
  padding-left: 15px;
  padding-top: 0.5px;
  word-spacing: 10px;
}

.title-description {
  padding-left: 15px;
  word-spacing: 3px;
}

.row {
  margin-left: 10px;
  width: 775px;
}

.card {
  background-color: rgb(231, 125, 38);
  border-radius: 10px;
  color: rgb(238, 236, 235);
  font-family: Arial, sans-serif;
  padding-left: 8px;
  padding-right: 8px;
}

hr {
  border: 1px solid black;
}

.product-name {
  text-align: center;
}

.bottom-text {
  text-align: center;
}

.product-info {
  column-count: 2;
}
